@import "tailwindcss";

@theme {
  /* Couleurs de la marque (Template générique) */
  --color-brand-primary: #E60012; /* Couleur d'accent (ex: Boutons, lignes actives) */
  --color-brand-black: #111111;   /* Fond des barres de navigation et modales */
  --color-brand-dark: #333333;    /* Bordures et éléments secondaires */
  --font-display: var(--font-oswald);

  /* Configuration Next.js standard */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  /* Fond sombre global (Noir profond) */
  --background: #080808; 
  --foreground: #ededed;

  scroll-behavior: smooth;
}

/* On force l'esthétique sombre même si l'utilisateur est en mode clair */
@media (prefers-color-scheme: light) {
  :root {
    --background: #080808;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  @apply antialiased;

  /* --- FOND PREMIUM SOMBRE --- */
  background-color: var(--background);
  background-image: 
    /* Spot 1 : Lueur subtile en haut à droite pour casser l'aplat */
    radial-gradient(circle at 80% 0%, #141414 0%, transparent 50%),
    /* Spot 2 : Éclairage central pour mettre en valeur les plats */
    radial-gradient(circle at 50% 30%, #111111 0%, #080808 100%);
  
  /* Attachment fixed pour que la lumière reste en place quand on scrolle */
  background-attachment: fixed;
}